1. Variance 
2. Standard Deviation

In [2]:
ages_lst=[12,43,42,11,65,55,76,33,54]

In [3]:
ages_lst

[12, 43, 42, 11, 65, 55, 76, 33, 54]

In [4]:
import numpy as np
np.mean(ages_lst)

43.44444444444444

In [5]:
np.median(ages_lst)

43.0

In [6]:
np.var(ages_lst)

435.8024691358025

In [7]:
np.std(ages_lst)

20.875882475617708

In [9]:
weights=[[12,12,42],[32,12,53],[44,23,76]]

In [12]:
import pandas as pd
df=pd.DataFrame(weights, columns=['a','b','c'])

In [13]:
df

    a   b   c
0  12  12  42
1  32  12  53
2  44  23  76

In [14]:
np.var(weights)

TypeError: _var_dispatcher() missing 1 required positional argument: 'a'